---
export interface Props {
  headerText: string;
  headerTextColorized: string;
  mottoText: string;
}

const { headerText, headerTextColorized, mottoText } = Astro.props;
---

<section>
  <h2>{headerText} <mark class="blue-text">{headerTextColorized}</mark></h2>
  <h6 class="motto-text">{mottoText}</h6>
  <article>
    <div class="cards">
      <div class="card"></div>
      <div class="card">
        <h4>We Work for You</h4>
        <h6>
          We offer you the perfect cleaning. Our professional team and quality
          We are at your service with our understanding of service. For you We
          work hard, your satisfaction is important to us. Contact us now call
          and enjoy the cleaning!
        </h6>
        <ul>
          <li>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.985 24C10.2871 24 8.70911 23.695 7.25094 23.085C5.79276 22.475 4.52434 21.63 3.44569 20.55C2.36704 19.47 1.5231 18.2 0.913858 16.74C0.304619 15.28 0 13.7 0 12C0 10.32 0.304619 8.75 0.913858 7.29C1.5231 5.83 2.36704 4.56 3.44569 3.48C4.52434 2.4 5.79276 1.55 7.25094 0.93C8.70911 0.31 10.2871 0 11.985 0C13.4831 0 14.8814 0.24 16.1798 0.72C17.4782 1.2 18.6467 1.86 19.6854 2.7L18.397 3.99C17.5181 3.29 16.5393 2.75 15.4607 2.37C14.382 1.99 13.2235 1.8 11.985 1.8C9.08864 1.8 6.66667 2.775 4.7191 4.725C2.77154 6.675 1.79775 9.1 1.79775 12C1.79775 14.9 2.77154 17.325 4.7191 19.275C6.66667 21.225 9.08864 22.2 11.985 22.2C14.8814 22.2 17.3034 21.225 19.2509 19.275C21.1985 17.325 22.1723 14.9 22.1723 12C22.1723 11.4 22.1273 10.815 22.0375 10.245C21.9476 9.675 21.8127 9.12 21.633 8.58L23.0112 7.2C23.3308 7.94 23.5705 8.71 23.7303 9.51C23.8901 10.31 23.97 11.14 23.97 12C23.97 13.7 23.6604 15.28 23.0412 16.74C22.422 18.2 21.573 19.47 20.4944 20.55C19.4157 21.63 18.1473 22.475 16.6891 23.085C15.231 23.695 13.6629 24 11.985 24ZM10.2172 17.46L5.27341 12.48L6.62172 11.13L10.2172 14.73L22.6217 2.31L24 3.66L10.2172 17.46Z"
                fill="white"></path>
            </svg>
            All cleaning for your home, office or workplace with our professional
            team We offer services.
          </li>
          <li>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.985 24C10.2871 24 8.70911 23.695 7.25094 23.085C5.79276 22.475 4.52434 21.63 3.44569 20.55C2.36704 19.47 1.5231 18.2 0.913858 16.74C0.304619 15.28 0 13.7 0 12C0 10.32 0.304619 8.75 0.913858 7.29C1.5231 5.83 2.36704 4.56 3.44569 3.48C4.52434 2.4 5.79276 1.55 7.25094 0.93C8.70911 0.31 10.2871 0 11.985 0C13.4831 0 14.8814 0.24 16.1798 0.72C17.4782 1.2 18.6467 1.86 19.6854 2.7L18.397 3.99C17.5181 3.29 16.5393 2.75 15.4607 2.37C14.382 1.99 13.2235 1.8 11.985 1.8C9.08864 1.8 6.66667 2.775 4.7191 4.725C2.77154 6.675 1.79775 9.1 1.79775 12C1.79775 14.9 2.77154 17.325 4.7191 19.275C6.66667 21.225 9.08864 22.2 11.985 22.2C14.8814 22.2 17.3034 21.225 19.2509 19.275C21.1985 17.325 22.1723 14.9 22.1723 12C22.1723 11.4 22.1273 10.815 22.0375 10.245C21.9476 9.675 21.8127 9.12 21.633 8.58L23.0112 7.2C23.3308 7.94 23.5705 8.71 23.7303 9.51C23.8901 10.31 23.97 11.14 23.97 12C23.97 13.7 23.6604 15.28 23.0412 16.74C22.422 18.2 21.573 19.47 20.4944 20.55C19.4157 21.63 18.1473 22.475 16.6891 23.085C15.231 23.695 13.6629 24 11.985 24ZM10.2172 17.46L5.27341 12.48L6.62172 11.13L10.2172 14.73L22.6217 2.31L24 3.66L10.2172 17.46Z"
                fill="white"></path>
            </svg>
            In order to provide quality service, all of our employees are trained
            and experienced. we make sure it is.
          </li>
          <li>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.985 24C10.2871 24 8.70911 23.695 7.25094 23.085C5.79276 22.475 4.52434 21.63 3.44569 20.55C2.36704 19.47 1.5231 18.2 0.913858 16.74C0.304619 15.28 0 13.7 0 12C0 10.32 0.304619 8.75 0.913858 7.29C1.5231 5.83 2.36704 4.56 3.44569 3.48C4.52434 2.4 5.79276 1.55 7.25094 0.93C8.70911 0.31 10.2871 0 11.985 0C13.4831 0 14.8814 0.24 16.1798 0.72C17.4782 1.2 18.6467 1.86 19.6854 2.7L18.397 3.99C17.5181 3.29 16.5393 2.75 15.4607 2.37C14.382 1.99 13.2235 1.8 11.985 1.8C9.08864 1.8 6.66667 2.775 4.7191 4.725C2.77154 6.675 1.79775 9.1 1.79775 12C1.79775 14.9 2.77154 17.325 4.7191 19.275C6.66667 21.225 9.08864 22.2 11.985 22.2C14.8814 22.2 17.3034 21.225 19.2509 19.275C21.1985 17.325 22.1723 14.9 22.1723 12C22.1723 11.4 22.1273 10.815 22.0375 10.245C21.9476 9.675 21.8127 9.12 21.633 8.58L23.0112 7.2C23.3308 7.94 23.5705 8.71 23.7303 9.51C23.8901 10.31 23.97 11.14 23.97 12C23.97 13.7 23.6604 15.28 23.0412 16.74C22.422 18.2 21.573 19.47 20.4944 20.55C19.4157 21.63 18.1473 22.475 16.6891 23.085C15.231 23.695 13.6629 24 11.985 24ZM10.2172 17.46L5.27341 12.48L6.62172 11.13L10.2172 14.73L22.6217 2.31L24 3.66L10.2172 17.46Z"
                fill="white"></path>
            </svg>
            By offering the most reasonable prices, we provide our customers with
            quality service at an affordable price. We offer the price.
          </li>
          <li>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.985 24C10.2871 24 8.70911 23.695 7.25094 23.085C5.79276 22.475 4.52434 21.63 3.44569 20.55C2.36704 19.47 1.5231 18.2 0.913858 16.74C0.304619 15.28 0 13.7 0 12C0 10.32 0.304619 8.75 0.913858 7.29C1.5231 5.83 2.36704 4.56 3.44569 3.48C4.52434 2.4 5.79276 1.55 7.25094 0.93C8.70911 0.31 10.2871 0 11.985 0C13.4831 0 14.8814 0.24 16.1798 0.72C17.4782 1.2 18.6467 1.86 19.6854 2.7L18.397 3.99C17.5181 3.29 16.5393 2.75 15.4607 2.37C14.382 1.99 13.2235 1.8 11.985 1.8C9.08864 1.8 6.66667 2.775 4.7191 4.725C2.77154 6.675 1.79775 9.1 1.79775 12C1.79775 14.9 2.77154 17.325 4.7191 19.275C6.66667 21.225 9.08864 22.2 11.985 22.2C14.8814 22.2 17.3034 21.225 19.2509 19.275C21.1985 17.325 22.1723 14.9 22.1723 12C22.1723 11.4 22.1273 10.815 22.0375 10.245C21.9476 9.675 21.8127 9.12 21.633 8.58L23.0112 7.2C23.3308 7.94 23.5705 8.71 23.7303 9.51C23.8901 10.31 23.97 11.14 23.97 12C23.97 13.7 23.6604 15.28 23.0412 16.74C22.422 18.2 21.573 19.47 20.4944 20.55C19.4157 21.63 18.1473 22.475 16.6891 23.085C15.231 23.695 13.6629 24 11.985 24ZM10.2172 17.46L5.27341 12.48L6.62172 11.13L10.2172 14.73L22.6217 2.31L24 3.66L10.2172 17.46Z"
                fill="white"></path>
            </svg>
            We offer a wide range of services so that our customers can We can meet
            your cleaning needs.
          </li>
          <li>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.985 24C10.2871 24 8.70911 23.695 7.25094 23.085C5.79276 22.475 4.52434 21.63 3.44569 20.55C2.36704 19.47 1.5231 18.2 0.913858 16.74C0.304619 15.28 0 13.7 0 12C0 10.32 0.304619 8.75 0.913858 7.29C1.5231 5.83 2.36704 4.56 3.44569 3.48C4.52434 2.4 5.79276 1.55 7.25094 0.93C8.70911 0.31 10.2871 0 11.985 0C13.4831 0 14.8814 0.24 16.1798 0.72C17.4782 1.2 18.6467 1.86 19.6854 2.7L18.397 3.99C17.5181 3.29 16.5393 2.75 15.4607 2.37C14.382 1.99 13.2235 1.8 11.985 1.8C9.08864 1.8 6.66667 2.775 4.7191 4.725C2.77154 6.675 1.79775 9.1 1.79775 12C1.79775 14.9 2.77154 17.325 4.7191 19.275C6.66667 21.225 9.08864 22.2 11.985 22.2C14.8814 22.2 17.3034 21.225 19.2509 19.275C21.1985 17.325 22.1723 14.9 22.1723 12C22.1723 11.4 22.1273 10.815 22.0375 10.245C21.9476 9.675 21.8127 9.12 21.633 8.58L23.0112 7.2C23.3308 7.94 23.5705 8.71 23.7303 9.51C23.8901 10.31 23.97 11.14 23.97 12C23.97 13.7 23.6604 15.28 23.0412 16.74C22.422 18.2 21.573 19.47 20.4944 20.55C19.4157 21.63 18.1473 22.475 16.6891 23.085C15.231 23.695 13.6629 24 11.985 24ZM10.2172 17.46L5.27341 12.48L6.62172 11.13L10.2172 14.73L22.6217 2.31L24 3.66L10.2172 17.46Z"
                fill="white"></path>
            </svg>
            We work with a focus on customer satisfaction, so that our customers
            are satisfied stay and continue to receive service again.
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-weight: var(--wmedium);
    font-size: var(--h1);
  }
  h2 mark.blue-text {
    color: var(--primary-color);
    font-weight: var(--wbold);
    background-color: white;
  }
  .motto-text {
    font-size: var(--h5);
    font-weight: var(--wregular);
    color: #7c7c7c;
    margin-top: 1rem;
  }

  div.cards {
    display: flex;
    padding: 0 5rem;
    margin-top: 3.125rem;
    width: 100%;
  }

  div.cards .card:nth-child(1) {
    background: url("/about-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    min-height: 400px;
  }
  div.cards .card:nth-child(2) {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0px 20px 20px 0px;
    padding: 2rem;
  }
  div.cards .card:nth-child(2) h4 {
    color: var(--white);
    font-weight: var(--wmedium);
    font-size: var(--h2);
  }
  div.cards .card:nth-child(2) h6 {
    font-size: var(--h6);
    font-weight: var(--wregular);
    color: var(--text-body-color2);
    margin-top: 1.5rem;
    text-align: justify;
  }
  div.cards .card:nth-child(2) ul {
    list-style-type: none;
    margin-top: 1.625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    color: var(--text-body-color2);
  }
  div.cards .card:nth-child(2) ul li {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    text-align: justify;
  }
  div.cards .card:nth-child(2) ul li svg {
    width: 25px;
    height: 25px;
  }

  @media only screen and (max-width: 954px) {
    div.cards {
      flex-direction: column;
    }
    div.cards .card:nth-child(1) {
      border-radius: 20px 20px 0px 0px;
    }

    div.cards .card:nth-child(2) {
      background-color: var(--primary-color);
      border-radius: 0px 0px 20px 20px;
    }
  }
  @media only screen and (max-width: 560px) {
    div.cards {
      padding: 0 0.5rem;
    }
  }
</style>
