---
export interface Props {}

const {} = Astro.props;
---

<section>
  <article>
    <div class="contact">
      <h4>Contact <span class="blue-text">Us</span></h4>

      <form action="#" class="flex flex-col gap-8">
        <div class="relative">
          <input
            type="text"
            id="floating_filled"
            class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white border-2 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
          />
          <label
            for="floating_filled"
            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
            >Full Name</label
          >
        </div>

        <div class="relative">
          <input
            type="text"
            id="floating_filled"
            class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white border-2 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
          />
          <label
            for="floating_filled"
            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
            >Email</label
          >
        </div>

        <div class="relative">
          <textarea
            id="floating_filled"
            class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white border-2 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "></textarea>
          <label
            for="floating_filled"
            class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
            >Enter your message here...</label
          >
        </div>

        <button type="submit">Send Message</button>
      </form>
    </div>
    <iframe
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAL3uD-F5p2ZpEtolTxcAk2xmIjzOcCyM4&q=33.8104417,35.6067056"
      allowfullscreen></iframe>
  </article>
</section>

<style>
  section {
    padding: 0 5rem;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
  }
  article .contact {
    background-color: var(--white);
    border-radius: 40px 0 0 40px;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
    padding: 2.5rem;
    max-height: 545px;
  }

  article .contact h4 {
    font-weight: var(--wmedium);
    font-size: var(--h2);
    margin-bottom: 2.5rem;
  }

  .blue-text {
    color: var(--primary-color);
    font-weight: var(--wbold);
    background-color: white;
  }
  textarea {
    resize: none;
    height: 120px;
  }
  button {
    background-color: var(--primary-color) !important;
    color: var(--white);
    width: fit-content;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
  }

  iframe {
    border-radius: 0 40px 40px 0;
  }

  @media only screen and (max-width: 1024px) {
    article .contact h4 {
      font-size: var(--h4);
    }
  }
  @media only screen and (max-width: 768px) {
    article {
      flex-direction: column;
    }

    article .contact {
      border-radius: 40px 40px 0 0;
      width: 450px;
    }

    article iframe {
      border-radius: 0 0 40px 40px;
      width: 450px;
    }
  }
  @media only screen and (max-width: 425px) {
    section {
      padding: 0 0.5rem;
    }

    article .contact {
      width: 300px;
    }

    article iframe {
      width: 300px;
    }
  }
</style>
