---
---

<footer class="p-4 bg-myprimary sm:p-6 mt-20">
  <div class="md:flex md:justify-between">
    <div class="mb-6 md:mb-0">
      <a href="/" class="flex items-center">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap text-white"
          >Ghraizy Cleaning</span
        >
      </a>
      <p class="text-white mt-2 text-sm">
        Aley, <br /> Mount Lebanon, <br /> Lebanon
      </p>
      <p class="text-white mt-6 text-sm">+961 78 90 40 80</p>
    </div>
    <div class="grid grid-cols-2 gap-8 sm:gap-8 sm:grid-cols-2 mt-10 lg:mt-0">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">Links</h2>
        <ul class="text-white opacity-80">
          <li class="mb-4">
            <a href="/" class="hover:underline">Home</a>
          </li>
          <li class="mb-4">
            <a href="#about" class="hover:underline">About Us</a>
          </li>
          <li class="mb-4">
            <a href="#our-services" class="hover:underline">Our Services</a>
          </li>
          <li class="mb-4">
            <a href="#contact" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">Contact</h2>
        <ul class="text-white opacity-80">
          <li class="mb-4">
            <a href="#contact" class="hover:underline">Send a Message</a>
          </li>
          <li>
            <a href="tel:+96178904080" class="hover:underline">Call Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
</footer>
