---
export interface Props {

}

const {  } = Astro.props;
---

<section>
    <article>
        <div class="iletisim">
            <h4>Bizimle <span class="blue-text">İletişime</span> Geçin</h4>
            

            <form action="#" class="flex flex-col gap-8">
                <div class="relative">
                    <input type="text" id="floating_filled" class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white border-2 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_filled" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Ad Soyad</label>
                </div>

                <div class="relative">
                    <input type="text" id="floating_filled" class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white border-2 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_filled" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">E-posta</label>
                </div>

                <div class="relative">
                    <textarea id="floating_filled" class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white border-2 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_filled" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Mesajınızı buraya giriniz...</label>
                </div>
                
                <button type="submit">Mesajı Gönder</button>
            </form>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.424866192139!2d29.135389515386006!3d41.015959879299935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8d2980f4167%3A0x2c18ea6850f2803e!2zVGVwZcO8c3TDvCwgw4dha8SxbCBTay4gTm86NCBEOjksIDM0NzcxIMOcbXJhbml5ZS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1674689368572!5m2!1str!2str" width="530" height="545" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
</section>

<style>
    section{
        padding: 0 5rem;
    }
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        width: 100%;
    }
    article .iletisim{
        background-color: var(--white);
        border-radius: 40px 0 0 40px;
        box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
        padding: 2.5rem;
        max-height: 545px;
    }

    article .iletisim h4{
        font-weight: var(--wmedium);
        font-size: var(--h2);
        margin-bottom: 2.5rem;
    }


    .blue-text{
        color: var(--primary-color);
        font-weight: var(--wbold);
        background-color: white;
    }
    textarea{
        resize: none;
        height: 120px;
    }
    button{
        background-color: var(--primary-color) !important;
        color: var(--white);
        width: fit-content;
        padding: 0.625rem 1.25rem;
        border-radius: 5px;
    }

    iframe{
        border-radius: 0 40px 40px 0;
    }
    
    @media only screen and (max-width: 1024px){
        article .iletisim h4{
            font-size: var(--h4);

        }
    }
    @media only screen and (max-width: 768px){
        article{
            flex-direction: column;
        }

        article .iletisim{
            border-radius: 40px 40px 0 0;
            width: 450px;
        }

        article iframe{
            border-radius: 0 0 40px 40px;
            width: 450px;
        }
    }
    @media only screen and (max-width: 425px){
        section{
            padding: 0 .5rem;
        }

        article .iletisim{
            width: 300px;
        }

        article iframe{
            width: 300px;
        }
    }
</style>

