---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="tr-TR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="#0D6EFD">
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />

	</head>
	<body>
		
		<slot />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
	@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

	:root {
		scroll-behavior: smooth;

		/* Colors */
        --primary-color: #0D6EFD;
        --primary-lighten-color: #3D8BFD;
        --primary-darken-color: #084298;
        --text-title-color: #152536;
        --text-body-color: #58595E;
		--text-body-color2: #D1E3FF;
        --white: white;
        --black: #333;
        --card-bg-color: #EEFDFF;
        --card-edge-color: #F4F4F4;

		/* Fonts */
		--font-family: 'Inter', sans-serif;

		--wbold: 700;
		--wmedium: 500;
		--wregular: 400;
		--wlight: 300;

		--h1: 3rem;
		--h2: 2.5rem;
		--h3: 2rem;
		--h4: 1.5rem;
		--h5: 1.25rem;
		--h6: 1rem;
		--body: 0.875rem;
		--body2: 0.75rem;
		--caption: 0.625rem;
		
	}
	*,
	*::after,
	*::before{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	::selection{
		background-color: #eefdff;
		color: var(--primary-color);
	}
	html {
		font-family: var(--font-family);
	}

	/* Search Engine Only */
	.sr-only{
		display: none;
	}

	/* Buttons */
	a.button{
        font-weight: var(--wmedium);
        font-size: var(--h6);
        padding: 0.625rem 1.25rem;
        border-radius: 10px;
        transition: 0.5s ease;
        -webkit-transition: 0.5 ease;
		text-decoration: none;
    }

	/* Primary Button */
    a.button.primary-button{
        border: 2px solid transparent;
        background-color: var(--white);
        color: var(--primary-color);
    }
    a.primary-button:hover{
        box-shadow: 0 10px 10px -10px rgba(0, 2, 98, 0.899);
		border-color: var(--primary-color);
    }
</style>
